* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

.notes {
  display: flex;
  flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
  align-items: center;
  margin: 5vh 0;
}

.do {
  background: red;
  padding: 100px;
  height: 90vh;
  margin-right: 10px;
}

.re {
  background: orange;
  padding: 100px;
  height: 85vh;
  margin-right: 10px;
}

.mi {
  background: yellow;
  padding: 100px;
  height: 80vh;
  margin-right: 10px;
}

.fa {
  background: green;
  padding: 100px;
  height: 75vh;
  margin-right: 10px;
}

.sol {  
  background: rgb(0, 119, 255);
  padding: 100px;
  height: 70vh;
  margin-right: 10px;
}

.la {
  background: rgb(31, 0, 167);
  padding: 100px;
  height: 65vh;
  margin-right: 10px;
}

.si {
  background: purple;
  padding: 100px;
  height: 60vh;
}

button {
  border: none;
  background:transparent;
  color: white;
  font-size: 50px;
  margin: 0;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.touch {
  animation: touchAndMove;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes touchAndMove {
  0% {
    transform: translate(0px, 0px);
    
  }
  10% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
    
  }
}




